.pagewrapper{
    padding:10px 15px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.k-grid-header {
    background-color: rgb(126, 196, 219) !important;
}
.k-grid-container .k-grid-content{
    background-color: #e5eaf1;
}

.headtext {
    padding-top: 10px;
    text-align: center;
    color: unset;
}

.k-form{
    border: 1px solid black;
    border-radius: 15x;
    padding: 20px;
}
.k-form .k-form-legend {
    font-weight: bold;
}
.k-button-solid-primary, .k-button-solid-primary:hover {
    background-color: blue;
border-color: blue;
}


.k-form{
    border: 1px solid black;
    border-radius: 15x;
    padding: 20px;
}
.k-form .k-form-legend {
    font-weight: bold;
}