.pagewrapper{
    padding:10px 15px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.k-grid-header {
    background-color: rgb(126, 196, 219) !important;
}
.k-grid-container .k-grid-content{
    background-color: #e5eaf1;
}

.headtext {
    padding-top: 10px;
    text-align: center;
    color: unset;
    background-color: #3d3dbc;
    margin: 0 0 20px 0;
    color: white;
    padding: 15px 0;
}

/* .k-form{
    border: 1px solid black;
    border-radius: 15x;
    padding: 20px;
} */

.k-button-solid-primary, .k-button-solid-primary:hover {
    background-color: blue;
border-color: blue;
}


.delpopup {
    position: relative;
    margin: auto;
    /* top: 10px; */
    left: -100px;
    right: unset;
    width: 250px;
}
.delpopup button {
    margin-right: 10px;
}
.selectRecord {
    padding-left: 20px;
}
.k-checkbox:checked, .k-checkbox.k-checked {
    border-color: #7dabe2;
    color: white;
    background-color: #7dabe2;
}
.totalText {
    /* margin-top: 10px; */
    font-weight: bold;
}